@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

*, *::after, *::before{
    box-sizing: border-box;
    margin-top: 0;
}

.fw-300{
    font-weight: 300;
}

.fw-500{
    font-weight: 500;
}

.fw-600{
    font-weight: 600;
}


body {
    margin: 0;
    background-color: hsl(217, 54%, 11%);
    font-family: 'Outfit', sans-serif;
    line-height: 1.5;
    color: hsl(215, 51%, 70%);
}

main{
    min-height: 100svh;
    display: grid;
    place-content: center;
}

.nft-container{
    max-width: 20rem;
    background-color: hsl(216, 50%, 16%);
    border-radius: 1rem;
    padding: 1.5rem;
    box-shadow: 0rem 1.5rem 0rem 1rem hsla(216, 50%, 5%, .1), 0rem -1rem 0rem 1rem hsla(216, 50%, 5%, .1);
}

.nft-image{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 1rem;
}

.nft-image-equilibrium{
    display: block;
    max-width: 100%;
    border-radius: .5rem;
    object-fit: cover;
}

.icon{
    position: absolute;
    display: none;
}

.nft-title{
    font-size: 1.3rem;
    color: white;
}

.nft-description{
    color: hsl(215, 51%, 70%);
    font-weight: 300;
}

.has-flex{
    display: flex;
    align-items: center;
    gap: .5rem;
}

.nft-info.has-flex{
    justify-content: space-between;
    margin-bottom: 1rem;
}

.nft-price,
.nft-time-left{
    display: inline-block;
    margin-bottom: 0;
    font-size: .9rem
}

.nft-price{
    color:hsl(178, 100%, 50%);
}

.nft-time-left{
    color: hsl(215, 51%, 70%);
}

hr{
    border-color: hsla(215, 32%, 27%, .4);
}

.nft-author.has-flex{
    gap: 1rem;
}

.author-picture{
    max-width: 2rem;
    border-radius: 50%;
    border: .1rem solid white;
}

.author-copyright{
    margin-bottom: 0;
    font-size: .9rem;
}

.author-copyright span{
    color: white;
}

.attribution {
  font-size: 0.8rem;
  text-align: center;
  color: white;
}
.attribution a {
  color:hsl(215, 51%, 70%);
}

@media (min-width: 768px) {
    main{
        min-height: 100vh;
    }

    .nft-container{
        max-width: 22rem;
    }

    .nft-image:active .icon{
        display: inline-block;
    }

    .nft-image:active::after{
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: hsla(178, 100%, 50%, .5);
    }

    .nft-title{
        font-size: 1.5rem;
    }

    .nft-title:active,
    .author-copyright span:active{
        color:hsl(178, 100%, 50%);
        cursor:pointer;
    }

    .nft-description{
        font-size: 1.1rem;
    }

    .nft-price,
    .nft-time-left,
    .author-copyright{
        font-size: 1rem;
    }
}