@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

:root {
  --clr-primary-300: hsl(215, 51%, 70%);
  --clr-primary-500: hsl(178, 100%, 50%);
  --clr-primary-500-05: hsla(178, 100%, 50%, .5);
  --clr-secondary-100: hsl(0, 0%, 100%);
  --clr-neutral-900: hsl(217, 54%, 11%);
  --clr-neutral-800: hsl(216, 50%, 16%);
  --clr-neutral-700: hsl(215, 32%, 27%);

  --ff-base: "Outfit", sans-serif;

  --fs-default: 1.125rem;

  --fw-light: 300;
  --fw-regular: 400;
  --fw-bold: 600;
}

/* More intuitive box-sizing model */
*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Remove default margins */
* {
  margin: 0;
}

/*
   Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
    Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}

/* Avoid text overflow */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* Reduce heading space for larger font sizes */
h1 {
  line-height: 1.2;
}

/* General styling */
body {
  background-color: var(--clr-neutral-900);
  color: var(--clr-primary-300);
  font-family: var(--ff-base);
  font-weight: var(--fw-regular);
  font-size: var(--fs-default);
  line-height: 1.5;

  min-height: 100svh;
  display: grid;
  place-content: center;
}

/* NFT card styling */

.nft-card {
  --content-spacing: 1rem;

  max-width: 21.5rem;
  background-color: var(--clr-neutral-800);
  border-radius: 1rem;
  padding: 1.5rem;
  box-shadow: 0rem 1.5rem 0rem 1rem hsla(216, 50%, 5%, 0.1),
    0rem -1rem 0rem 1rem hsla(216, 50%, 5%, 0.1);
}

.nft-card__image {
  display: grid;
  place-items: center;
  position: relative;
  margin-bottom: 1rem;
}

.nft-equilibrium {
  border-radius: 0.5rem;
  object-fit: cover;
}

.icon {
  position: absolute;
  display: none;
}

.nft-card__content {
  display: grid;
  gap: var(--content-spacing);
}

.nft-card__title {
  font-size: 1.3rem;
  color: var(--clr-secondary-100);
}

.nft-card__description {
  font-weight: var(--fw-light);
}

.nft-card__details {
  justify-content: space-between;
  gap: 0;
}

.nft-card__details div{
    gap: .5rem;
}

.nft-price {
  color: var(--clr-primary-500);
  font-weight: var(--fw-bold);
}

hr {
  border-color: var(--clr-neutral-700);
}

.nft-card__creator {
  display: inline-flex;
  gap: var(--content-spacing);
}

.creator-profile-picture {
  max-width: 2rem;
  border-radius: 50%;
  border: 0.1rem solid var(--clr-secondary-100);
}

.creator-copyright {
  font-size: 0.9rem;
}

.creator-copyright span {
  color: var(--clr-secondary-100);
}

/* Utility classes */
.has-flex {
    display: flex;
    align-items: center;
    gap: var(--content-spacing);
  }  

@media (min-width: 1000px) {

  .nft-image:active .icon {
    display: block;
    z-index: 1;
  }

  .nft-card__image:is(:hover, :focus)::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--clr-primary-500-05);
    cursor: pointer;
  }

  .nft-title {
    font-size: 1.5rem;
  }

}
