@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

*, *::after, *::before{
    box-sizing: border-box;
    margin-top: 0;
}

body {
    margin: 0;
    background-color: hsl(217, 54%, 11%);
    font-family: 'Outfit', sans-serif;
    line-height: 1.5;
    color: white;
}

main{
    min-height: 100svh;
    display: grid;
    place-content: center;
}

.nft-container{
    max-width: 20rem;
    background-color: hsl(216, 50%, 16%);
    border-radius: 1rem;
    padding: 1.5rem;
}

.nft-image{
    margin-bottom: 1rem;
}

.nft-image-equilibrium{
    display: block;
    max-width: 100%;
    border-radius: .5rem;
    object-fit: cover;
}

.nft-title{
    font-size: 1.4rem;
}

.nft-description{
    color: hsl(215, 51%, 70%);
    font-weight: 300;
}

.has-flex{
    display: flex;
    align-items: center;
    gap: .5rem;
}

.nft-info.has-flex{
    justify-content: space-between;
}

.nft-price,
.nft-time-left{
    display: inline-block;
    margin-bottom: 0;
}

.author-picture{
    max-width: 2rem;
}

.author-copyright{
    margin-bottom: 0;
}

.attribution {
  font-size: 0.8rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
